@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --azul: #111a3a;
    --orange:#fc9615;
    --borderPrueba: 2px solid black;
    --font:'Poppins', sans-serif;
}

main{
    height: 900px;
    
}
body{
    background-color: #DED8D7;
}

.imagen-ramajudicial{
    
    width: 50%;
    align-items: center;
    text-align: center;
    padding-inline-start: 20px;
    margin: 2px auto;
}
.imagen-ramajudicial img{
    width: 20vw;
    margin-top: 20px;
    animation: float 3s linear infinite;
}
@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}

.botones-rajuid{
    
    width: 50%;
    height: 50px;
    padding: 20px;
    margin: auto;

}
.botones-rajuid ul{

    display: flex;
    justify-content: space-between;
    text-align: justify;
    

}
.botones-rajuid ul li{
    list-style: none;
    margin: 0;
    border: var(--borderPrueba);
    padding: 10px;
    width: 20%;
    cursor: pointer;
    background-color: var(--azul);
    transition: all .3s linear;
    text-align: center;
}
.botones-rajuid ul li:hover{
    transform: scale(1.1);
}

.botones-rajuid ul li a{
    text-decoration-line: none;
    color:var(--orange);
    font-family: var(--font);
    font-weight: bold;
}


table {
    width: 70%;
    margin-top: 50px;
    margin-left: 10px;
    font-family: var(--font);
  }
  table tr {
    width: 700px;
    border: 2px solid #111a3a;
  }
  table th {
    padding: 10px;
    border: 2px solid #111a3a;
    background-color: #fc9615;
    color: #111a3a;
  }
  table td {
    border: 2px solid #111a3a;
  }

  .btn-informe{
   
    width: 20%;
    display: flex;
    height: 80px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
  }

  .btn-informe a{
    text-decoration-line: none;
    border: var(--borderPrueba);
    padding: 10px;
    margin-top: 40px;
    font-family: var(--font);
    font-weight: bold;
    font-size: 20px;
    color: var(--azul);
    background-color: #fc9615;
  }
  

.places-ramajudicial{
    width: 300px;
    height: 400px;
    overflow: scroll;
    border: 6px var(--azul) groove;
    position: relative;
    bottom: 250px;
    left: 970px;
    padding: 15px;
    font-family: var(--font);
    
}

.places-ramajudicial div{
    display: flex;
    font-family: var(--font);

}
.places-ramajudicial .iframe{
    width: 200px;
    height: 70px;
    border: var(--borderPrueba);
}



footer{
    border: var(--borderPrueba);
    height: 200px;
}