<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="">
        <title></title>

        <link rel="stylesheet" href="../css/jpenal.css">
    </head>

    <body>

        <header>
            <!-- --menu-- -->
        </header> 

        <main>
            <div class="imagen-justiciapenal">
              <img src="../assets/img/justicia.png" alt="logo justicia penal">
            </div>

            <div class="botones-jpenal">

              <ul>
                <li><a href="#"><i class="fa-solid fa-plus-minus"></i> Agregar</a></li>
                <li><a href="#"><i class="fa-solid fa-magnifying-glass-arrow-right"></i> Buscar</a></li>
                <li><a href="#"><i class="fa-solid fa-server"></i> Samsumg</a></li>
                <li><a href="#"><i class="fa-solid fa-server"></i> HP</a></li>

                </ul>
            </div>

            <div class="text-customers-contracts">

            <table class="table-clientes">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="btn-informe">
              <a href=""><i class="fa-solid fa-file-zipper"></i> Generar Informe</a>
            </div>
           

            <!-- hacer scrool en esta parte  -->
            <div class="places-idartes">
                <div >
                  <h3><i class="fa-solid fa-location-dot"></i> Sede principal</h3><p></p>
                  <div class="iframe"></div>
                </div>
                <div>
                    <h3><i class="fa-solid fa-location-dot"></i></h3><p></p>
                    <div class="iframe"></div>
                </div>
               

            </div>

        </main>

        <footer>

        </footer>
        
        
        <script src="https://kit.fontawesome.com/33a54e7afe.js" crossorigin="anonymous"></script>

    </body>
</html>